// Social link

.soc {
	display: flex;
	align-items: center;

	a {
		// display: inline-block;
		flex: none;
		text-decoration: none;
		transition: color 0.3s;
		color: $color_withe;

		&:hover {
			color: #FBBDAA;
		}

		.fScreen & {
			font-size: 1.8em;

			&:not(:last-child) {
				margin-right: 1.1em;
			}
		}
	}
}
