$icomoon-font-family: "valia" !default;
$icomoon-font-path: "../fonts" !default;

$icon_zoom: "\e903";
$icon_arrow: "\e905";
$icon_scroll: "\e906";
$icon_next: "\e907";
$icon_prev: "\e908";
$icon_up: "\e90e";
$icon_down: "\e90f";
$icon_place: "\e900";
$icon_email: "\e901";
$icon_phone: "\e902";
$icon_plus: "\e904";
$icon_insta: "\e909";
$icon_mail: "\e90a";
$icon_twiter: "\e90b";
$icon_youtube: "\e90c";
$icon_fb: "\e90d";