extends layout.pug
block variables
    -var pageClass = "";

block content
    .page
        .page__top(style="background-image: url(img/mission-bg.jpg)")
            .container_center
                h1.page__title Our Mission

        // begin container_center
        .mission
            .container_center
                .page__text
                    h3 Empowering Flourishing by Uniting Body & Mind through Wellness Medicine.
                    h6 Welcome to the new frontier of wellness.
                    p At Valia Lifestyle we unite the science and art of lifestyle medicine with fitness, nutrition, and body-mind practices to design wellness programs that meet your unique needs.
                    p Our clinical practice is a new approach to health, one where your physician works seamlessly with a team of experts in fitness, nutrition, and body-mind practices to create your personal plan for multidimensional vitality. Together the Valia team combines your clinical profile, biometrics, and real world goals to curate a customized plan that you can build on and grow from.
                    p We’ve created a new paradigm for personal training, one that aligns who you are with where you want to be through dynamic, confidence-building programs. Our goal is to empower your body and mind by establishing your foundation for a lifetime of health, happiness, and fulfillment.
                    p Valia Lifestyle is driven by the core principle that with the right tools, knowledge, and training program, you — yes, you! — have the power to create meaningful, lasting change in your mind, body, and life.

                .mission__info Join us, and enter a new sphere of empowered wellness.

                .section__link
                    a.btn(href="#") Contact Us

        // end container_center
