extends layout.pug
block variables
    -var pageClass = "";

block content
    .page
        .page__top(style="background-image: url(img/service-bg.jpg)")
            .container_center
                h1.page__title Valia Lifestyle services

    .container_center
        .programList
            .programList__content
                div
                    a.programList__item(href="holistic.html")
                        span.programList__img
                            img(src="img/program-1.jpg", alt="alt")
                        span.programList__name Holistic Health Performance

                div
                    a.programList__item(href="recomposition.html")
                        span.programList__img
                            img(src="img/program-2.jpg", alt="alt")
                        span.programList__name Body Recomposition Program


    // begin contactUs
    section#contactUs.contactUs.section
        .container_center
            h2.section__title Contact us today for your complimentary consultation with the Doctor and one of our Coaches!

            .contactUs__link
                a.btn(href="#") Contact Us


    // end contactUs
